.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.right-border {
  border-right: 0.2em solid #0074a6;
}

.bottom-border {
  border-bottom: 0.2em solid #0074a6;
}
